// Fonts
$font-default: PTSans, Calibri, Ubuntu, Tahoma, LucidaGrande;
$font-welcome: 'Roboto Condensed', PTSans, Calibri, Ubuntu, Tahoma, LucidaGrande;
$font-n: PTSansN;

//Colors
$white: #fcfcfe;
$black: #1a181c;
$gray: #d3d3d3;
$dark-gray: #a3a3a3;
$light-gray: #f9f9f9;
$blue: #0063b1;
$dark-blue: #004f8e;
$green: #10883e;
$dark-green: #0d6d32;
$red: #ef6950;
$dark-red: #bf5440;
$yellow: #ffb901;
$dark-yellow: #d19906;

//Index Color
$index-black: #1a181c;
$index-blue: #76c5f0;
$index-dark-blue: #1277af;
$index-white: #ffffff;
$index-grey: #f2f2f2;
$index-dark-grey: #a3a3a3;
$index-green: #71b12a;
$index-red: #fe0103;
$index-yellow: #f3d551;
$index-lilac: #8884d8;
$index-pink: #b760d1;
$index-coral: #f075ac;